<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admins_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.admin.first_name", :default => t("activerecord.labels.first_name", :default => "First name")) %>:</b>
          <%= @admin.first_name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin.last_name", :default => t("activerecord.labels.last_name", :default => "Last name")) %>:</b>
          <%= @admin.last_name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin.employee_ID", :default => t("activerecord.labels.employee_ID", :default => "Employee id")) %>:</b>
          <%= @admin.employee_ID %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</b>
          <%= @admin.email %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin.password", :default => t("activerecord.labels.password", :default => "Password")) %>:</b>
          <%= @admin.password %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_path(@admin), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_path(@admin), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>