<div class="block">

  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "Back")}", :cars_browse  %></li>

      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Car Details")}", car_path %></li>
    </ul>
  </div>

  <div class="content">
    <div class="inner">

      <div id="left-details" style="width: 50%; height: 400px; float: left">

        <%= link_to image_tag(@car.image_url, :width => '400'), image_path(@car.image_url), :target => '_blank' %><br/>
        <table>
        <% CarImage.find_all_by_car_id(@car.id).each do |car_image| %>
            <tr>

              <td><%= link_to image_tag(car_image.image_url, :width => '100'), image_path(car_image.image_url), :target => '_blank' %></td>

            </tr>
        <% end %>
        </table>
        <% if manager_signed_in? %>
            <%= link_to "add an additional image to a car", :new_car_image %>
        <% end %>
      </div>

      <div id="right-details" style="width: 50%; height: 400px; float: right">
        <table>
           <tr><td class="details-header"><%= @car.year %> <%= Manufacturer.find(@car.make).name %> <%= @car.model %></td></tr>
           <tr><td class="details-header"><%= number_to_currency @car.price %></td></tr>
          <tr>
            <td>
            <table>
              <tr>
            <td>
             <b><%= t("activerecord.attributes.car.miles", :default => t("activerecord.labels.miles", :default => "Miles")) %>:</b>
             <%= number_with_delimiter @car.miles %>
           </td>
            <td>
              <b><%= t("activerecord.attributes.car.style", :default => t("activerecord.labels.style", :default => "Style")) %>:</b>
              <%= @car.style %>
            </td>
            <td>
               <b><%= t("activerecord.attributes.car.color", :default => t("activerecord.labels.color", :default => "Color")) %>:</b>
               <%= @car.color %>
            </td>
              </tr>
            </table>
            </td>
          </tr>
          <tr>
            <td>
              <br/><%= @car.description %>
            </td>
          </tr>
          <tr>
            <td><a href="http://<%= Manufacturer.find(@car.make).url %>"><%=Manufacturer.find(@car.make).url.to_s %></a></td>
          </tr>
          <% if manager_signed_in? %>
            <td><b>VIN:</b> <%= @car.vin %></td>
          <% end %>
        </table>
      </div>

      <span class="details-header" style="width: 50%; margin-left: 25%; margin-right: 25%">Visit us if you are interested in purchasing!</span>
      <div style="float: right">
        <% if manager_signed_in? %>
            <div class="wat-cf">
              <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_car_path(@car), :class => "button" %>
              <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), car_path(@car), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
            </div>
        <% end %>
      </div>



    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>