<p id="notice"><%= notice %></p>
<div style="float:left;  width: 40%;">
<p>
  <b>Img url:</b>
  <%=image_tag @car.img_url %>
</p>
</div>
<div style="float:right; width:60%;">
<p>
  <b>Id:</b>
  <%= @car.id %>
</p>

<p>
  <b>Make:</b>
  <%= @car.make %>
</p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>

<p>
  <b>Year:</b>
  <%= @car.year %>
</p>

<p>
  <b>Miles:</b>
  <%= @car.miles %>
</p>

<p>
  <b>Style:</b>
  <%= @car.style %>
</p>

<p>
  <b>Description:</b>
  <%= @car.description %>
</p>



<p>
  <b>Color:</b>
  <%= @car.color %>
</p>

<p>
  <b>Vin:</b>
  <%= @car.vin %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@car.price) %>
</p>

</div>
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
