<div class="colorfy">
<%= form_for(@car_image) do |f| %>
  <% if @car_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_image.errors.count, "error") %> prohibited this car_image from being saved:</h2>

      <ul>
      <% @car_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :car_id, t("activerecord.attributes.car_image.car_id", :default => "Car VIN"), :class => :label %>
    <%= f.select :car_id, Car.all.map {|x| [x.vin , x.id]} %>
  </div>
  <div class="field">
    <%= f.label :image_url, t("activerecord.attributes.car.img_url", :default => "Image"), :class => :label %>
    <%= f.file_field :image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>